@charset "UTF-8";

h2 {
	margin-top: 20px;
}

.down-content{
	margin-top: 20px;
}

.heart{
	width: 20px;
	height: 20px;
	margin-right: 2px;
}

.preference {
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
	border-radius: 8px;
}

.btn1{
	background-color: #4B3400;
}

.btn2{
	
	background-color: #907F6E;
}

.goodsImg {
	border-radius: 8px;
}

#write {
	width:100px;
    background-color: #f8585b;
    border: none;
    color:#fff;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 2px;
    cursor: pointer;
}

.item-table{
  border-collapse: separate;
  border-spacing: 20px 10px;
  }

.location{
	width: 20px;
	height: 20px;
	margin-right: 2px;
}
