.searchbar{
  padding-top: 75px;

}

.search-container{
  width: 490px;
  display: block;
  margin: 0 auto;
    backgroun-color: #EDDBC7;
}

input#search-bar{
  margin: 0 auto;
  width: 85%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
  &:focus{
    border: 1px solid #AA5656;
    transition: 0.35s ease;
    color: #008ABF;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease; 
  	 opacity: 0;
     }    
   }
 }

.search-icon{
  position: relative;
  margin-left: 5px;
  float: right;
  width: 75px;
  height: 75px;
  top: -62px;
  right: -45px;
}



