@charset "UTF-8";

.mypage_field {
	width: 800px;
	margin: auto;
	text-align: center;
}

h2 {
	margin-top: 10px;
}

span {
	margin-bottom: 200px;
}

button {
	border: none;
	background-color: white;
}

button:focus {
  outline: none;
}
/* 1,4 */
#MPprofile-btn, #MPsellhistory-btn {
	margin-left: 50px;
	margin-right: 50px;
	width: 150px;
	margin-bottom: 40px;
}
/* 3,6 */
#WritehistoryB-btn, #MPlike-btn {
	margin-left: 50px;
	margin-right: 50px;
	width: 150px;
	margin-bottom: 40px;
}
/* 2,5 */
#WritehistoryS-btn, #MPbuyhistory-btn {
	width: 150px;
	margin-bottom: 40px;
}