@charset "UTF-8";

form {
	margin-left: 32%;
}

.PWchangecontainer {
	text-align: center !important;
	margin-bottom: 25px;
}

#PWchange_area {
	border: 1px solid #EAE0DA;
	padding: 20px;
	width: 750px;
}

#PWchange_area fieldset {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 85px;
}

.btnss {
	margin-left: 30%;
	margin-top: 30px;
}

#PWchange_area ul li {
	list-style-type: none;
	padding: 5px 8px;
	margin-bottom: 7px;
	font-weight: 700;
}

#PWchange_area label {
	width: 110px;
	color: #42240C;
	font-weight: 450;
	font-size: 15px;
	float: left;
}

#M_id {
	border: none;	
}

#M_id:focus {
	border: none;
}

#PWupdatebtn {
	color: white;
	border: none;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 1px;
	padding: 5px;
	background-color: #4B3400;
	letter-spacing: 1px;
	border-radius: 3px;
	text-align: center;
	margin-left: 47%;
	margin-top: 20px;
}
 