@charset "UTF-8";

*{
	width : 500px;
}


/* 신고하기 폼 */

.reportForm {
	margin: auto;
}

.reportInfo {
	padding-top : 10px;
	width : 100%;
	text-align:center;
	justify-content: center;
	display: flex;
	font-size: 13px;
}

.dangerIcon{
	width:5%;
	height: 5%;
	margin-right:10px;
}


/* select */
select {
  font-family: "Noto Sansf KR", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.5;
  color: #444;
  background-color: #fff;
  padding: 0.6em 1.4em 0.5em 0.8em;
  margin: 0;
  margin-top : 15px;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
}

select:hover {
  border-color: #888;
}

select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

select:disabled {
  opacity: 0.5;
}

option{
	margin:5px;
}

/* 텍스트창 */
textarea{
	margin: 0 auto;
	margin-top:15px;
	width: 99%;
	display: flex;
	resize: none;
	border : 1px solid #ccc;
	border-radius: 4px;
	font-size: 13px;
	box-sizing: border-box;
}

.textarea {
	display:none;
}


li{
	font-size: 11px;
	color : #907F6E;
	margin-bottom: 5px;
}


/* 버튼 */
input {
	width : 49%;
	text-align: center;
	display :inline-block;
	padding : auto;
	padding-right: 0px;
	padding-left: 0px;
	margin-top: 20px;
}

input[type=submit] {
	border: none; /* Remove borders */
  color: white; /* Add a text color */
  padding: 14px 28px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
  background-color: #4B3400;
}

input[type=submit]:hover {
	background: #6E4C00;
}

input[type=button] {
	border: none; /* Remove borders */
  color: white; /* Add a text color #201600 */
  padding: 14px 28px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
  background-color: #e7e7e7; color: black;
}

input[type=button]:hover {
	background: #ddd;
}
