@charset "UTF-8";


.btn-naran{
	text-align: right;
}
.btn btn-dark{
	display :inline-block;
}

.heart{
	width: 20px;
	height: 20px;
	margin-right: 2px;
	border:0;
}

.preference {
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
	border-radius: 8px;
}

table{
	border-collapse: separate;
	border-spacing: 10px 10px;
}

.line{
	
	border-bottom: 1px solid #ccc;
}

.heartbtn{
	border: 0;
	background-color: white;
}