@charset "UTF-8";

h2{
	margin-top:180px;
}
table{
	margin: auto;
}

.S_img_st{
	border-radius: 5%;
	margin-right: 25px;
}

#SH_title {
	font-weight: 600;
	font-size: 18px;
}

hr{
	width: 600px;
}
.btn btn-dark{
	display :inline-block;
}